.editForm {
    margin: 20vh auto;
    width: 25vw;
    text-align-last: center;
    color: rgb(214, 163, 199);
}

.editForm h2 {
    padding: 10px;
}

.editForm form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}


/* .editForm form label {
    padding-left: 15px;
} */

.editForm form button {
    width: 100px;
    color: rgb(93, 45, 93);
    text-decoration: none;
    margin: 10px;
    background-color: rgb(235, 37, 235);
    padding: 8px 12px;
    border-radius: 30px;
    font-weight: bold;
    border: rgb(235, 37, 235);
    align-self: center;
}

.editForm form input,
.editForm form textarea {
    margin: 10px;
    border-radius: 20px;
    border-color: thistle;
}