.commentTemplate .commentTemplate-container .user-info a img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 5px solid #393a3a;
    object-fit: cover;
    margin: 0;
}

.commentTemplate .commentTemplate-container .user-info a {
    margin: 0;
}

.commentTemplate .commentTemplate-container .user-info .username-paragraph {
    font-size: 1em;
}