.you-shared-delete-section {
    margin: 20vh auto;
}

.you-shared-delete-section h3 {
    color: rgb(214, 163, 199);
}

.go-back a {
    color: rgb(214, 163, 199);
    margin: 10px;
    font-weight: bold;
}

.go-back {
    display: flex;
    flex-direction: column;
    align-items: center;
}