.postTemplate {
    padding: 30px;
    background-color: rgb(24, 3, 18);
    min-width: 500px;
    width: 800px;
    margin: 50px;
}

.postTemplate .username-paragraph {
    font-size: 1.4em;
    align-self: center;
    margin: 0;
    padding: 0 10px;
}

.postTemplate .profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid #393a3a;
    object-fit: cover;
}

.postTemplate .postTemplate-container .user-info {
    display: flex;
}

.postTemplate h3 {
    margin: 10px 0px;
}

.postTemplate img {
    max-width: 650px;
    max-height: 650px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meme-info {
    text-align-last: center;
    text-align: -webkit-center;
}

.meme-info p {
    text-align-last: start;
    margin-left: 50px;
}

.meme-info img {
    margin-bottom: 50px;
}

.post-info {
    text-align-last: start;
    margin: 15px 0 30px 20px;
}

.post-info a {
    margin: 20px;
}